img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: sepia(75%);
    border: 3px dashed orange;
    border-radius: 12px;
}
.overlay{
    position:absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    opacity:0;
    transition: 2s ease;
    background-color: crimson;
}
.container:hover .overlay{
    opacity:1;
}
.text {
    color: white;
    font-size:20px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
    text-align: center;
}
footer p {
    text-align: center;
    font-weight: bold;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table th{
    font-weight: bold;
    color: red;
    background-color: aqua;
}
table, th, td {
    border: 2px solid purple;
    text-align:center;
    padding: 6px;

}
table td {
    color: darkblue;
}
.container {
    position: relative;
    text-align:center;
    font-weight: bolder;
    color:white;
}
.centered {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.navbar {
    height: 100%;
    width: 100%;
    background-color: coral;
    position: relative;
    text-align: center;
    display: inline-block;
}
.navbar ul {
    color: red;
    text-align:center;
    font-size: large;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
}
.navbar a:hover{
    background:#ddd;
    color:red;
}
.column {
    flex:50%;
    border: 1px solid black;
}
.column p{
    color: green;
}
.column h3{
    color: red;
    background-color: blue;
}
.row {
    display:flex;
    height:100px;
    border: 2px solid black;
}
p:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.container1 {
    position:relative;
    text-align: center;
    color: white;
}
@media screen and(max-width:600px){
    html p{
        color: blue;
    }
}